@model User
@{
    Transaction newTransaction = new Transaction(){ UserId = Model.UserId };
}

<div class="row">
    <h1 class="col-6">Welcome, @Model.FirstName</h1>
    <p class="col-4">Current Balance: $@Model.MyTransactions.Sum(trans => trans.AmmountDecimal)</p>
    <a asp-action="LogOut" asp-controller="Home">Logout</a>
</div>
<partial name="NewTransaction" model="newTransaction"/>
<p>Transactions:</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr> 
    </thead>
    <tbody>
        @foreach(var trans in @Model.MyTransactions.OrderByDescending(trans => trans.CreatedAt))
        {
            <tr>
                <td>$@trans.AmmountDecimal</td>
                <td>@trans.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>